* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

h1 {
   flex-basis: 10%;
}

.add-trainers-form, .delete-trainer-form, .update-trainer-form, .auth-form {
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.delete-trainer-form {
	margin-top: 1rem;
}

.auth-form{
	margin-top: 1rem;
}

.add-trainers-button, .delete-trainer-button, .update-trainer-button, .sign-up-button, .sign-out-button, .sign-in-button {
   width: 12rem;
	padding: 0.5rem;
	background-color: rgb(154, 235, 235);
}

.secret-content {
	display: none;
}
